
window {
  background: transparent;
}

* {
  font-family: "JetBrainsMono Nerd Font Mono", "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

.pop {
  padding: 10px 12px;
  border-radius: 30px;

  background-color: rgba(20, 20, 20, 0.85);
  color: #e0e0e0;

  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 0 6px rgba(76,139,245,0.20);
}


.cover-wrap {
  min-width: 58px;
  min-height: 58px;
  border-radius: 30px;

  background-color: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
}

.cover {
  border-radius: 30px;
}


.title {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.artist {
  font-size: 12px;
  color: rgba(224,224,224,0.90);
}

.album {
  font-size: 11px;
  color: rgba(224,224,224,0.70);
}

button.btn {
  all: unset;

  padding: 2px 6px;
  border-radius: 30px;

  background: rgba(255,255,255,0.10);
  border: 1px solid rgba(255,255,255,0.12);
  color: #ffffff;
}

button.btn:hover {
  background: rgba(255,255,255,0.15);
}

button.btn.primary {
  background: rgba(76,139,245,0.25);
  border: 1px solid rgba(76,139,245,0.5);
}

button.btn.primary:hover {
  background: rgba(76,139,245,0.35);
}

button.btn > box,
button.btn > label {
  padding: 0px;
  margin: 0px;
}


